
<h1>Stock</h1>

<table>
    <tr>
        <th>Category</th>
        <th>Product Code</th>
        <th>Product</th>
        <th>Brand</th>
        <th>Product Size</th>
        <th>Price Per Unit</th>
        <th>Quantity</th>
    </tr>
    @foreach(StockTrackerCommon.Models.Stock stockItem in _stock)
    {
        var product = _products.FirstOrDefault(prod => prod.ProductId == stockItem.ProductId);

        <tr  @onclick="() => RowSelected(stockItem)" @ondblclick="() => HandleRowClick(stockItem)" class="@(_selectedStock == stockItem ? "selectedRow" : "unselectedRow")">
            <td>@_productCategories.FirstOrDefault(cat => cat.ProductCategoryId == product.ProductCategoryId).ProductCategoryName</td>
            <td>@product.ProductCode</td>
            <td>@product.ProductName</td>
            <td>@product.ProductBrand</td>
            <td>@(product.ProductSize.ToString() + product.ProductMeasurementUnit.ToString())</td>
            <td>@stockItem.StockPrice</td>
            <td>@stockItem.StockQuantity</td>
        </tr>
    }

</table>
<button type="button" hidden="@(!_isStockSelected)" @onclick="() => DeleteClicked()"><i class="fa-solid fa-minus" style="color: #3e67ac;"></i></button>
